﻿@model PassionProject.Models.Player

@{
    ViewBag.Title = "Delete Player";
}
<div class="col-md-8 col-md-offset-4">
    <h2>Delete player</h2>
    <div class="media">
        <img src="~/img/players/@Html.DisplayFor(model=>model.PlayerAvatar)" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">@Html.DisplayFor(model => model.PlayerFName) @Html.DisplayFor(model => model.PlayerLName)</h5>
            <p>Discord Tag: @Html.DisplayFor(model => model.PlayerDiscord)</p>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Cancel", "Index")
                </div>
            }
        </div>
    </div>
</div>
