﻿@model PassionProject.Models.Player

@{
    ViewBag.Title = "Profile";
}
<div class="promptlink">
    @Html.ActionLink("Edit Profile", "Edit", new { id = Model.PlayerID })
</div>
<div class="promptlinkleft">
    @Html.ActionLink("Back to Players List", "Index")
</div>
<div>
    <div class="col-md-6 col-md-offset-6">
        <div class="img-container">
            @if (Model.HasAvatar == 1)
            {

                <div class="img-container">
                    <img src="~/imgs/authors/@Model.PlayerAvatar" />
                </div>
            }
            else
            {
                <img src="~/imgs/authors/default.jpg" />
            }
        </div>
        <h2>@Model.PlayerFName  @Model.PlayerLName</h2>
        <p> Discord Tag: @Model.PlayerDiscord </p>
    </div>
    <h4>Games Played by @Model.PlayerFName  @Model.PlayerLName</h4>
    <div class="gameList">
        @foreach (var game in Model.Games)
        {
            <div class="media">
                <img src="~/img/games/@game.GameLogo" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">@game.GameName</h5>
                    <p>@game.GameDescription</p>
                    @Html.ActionLink(game.GameName, "View/" + game.GameID, "Game")
                </div>
            </div>
        }
    </div>
</div>


