﻿@model IEnumerable<PassionProject.Models.Player>

@{
    ViewBag.Title = "Players";
}
<div class="banner" id="authorbanner">
    <h2>Authors</h2>
</div>
<div class="recadd">
    @Html.ActionLink("Register an Account", "Register")
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerAvatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerDiscord)
        </th>
        <th></th>
    </tr>

    @foreach (var players in Model)
    {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => players.PlayerAvatar)" class="rounded" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => players.PlayerFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => players.PlayerLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => players.PlayerDiscord)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = players.PlayerID }) |
                @Html.ActionLink("View Profile", "Profile", new { id = players.PlayerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = players.PlayerID })
            </td>
        </tr>
    }

</table>
