﻿@model PassionProject.Models.Player

@{
    ViewBag.Title = "Edit Player";
}
<h2>Register a New Player</h2>
@using (Html.BeginForm("Edit", "Author", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12">
        <div class="cole-md-6 col-md-offset-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <form>
            <fieldset>
                <legend>
                    Player Details
                </legend>
                @Html.HiddenFor(model => model.PlayerID)
                <div class="form-group">
                    @Html.LabelFor(model => model.PlayerFName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PlayerFName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PlayerFName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PlayerLName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PlayerLName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PlayerLName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PlayerDiscord, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PlayerDiscord, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Upload an avatar</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.PlayerAvatar, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="avatarUpload">
                                <label class="custom-file-label" for="avatarUpload">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" id="">Upload</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
}
